In [49]:
import numpy as np
import pandas as pd

In [50]:
df = pd.read_csv("Dataset/spam.csv",  encoding="latin-1")
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [51]:
df.shape

(5572, 5)

#### 1. Data Cleaning

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [53]:
# Drop Last 3 Columns

df.drop(columns=["Unnamed: 2","Unnamed: 3","Unnamed: 4"], inplace=True)

In [54]:
df.sample(10)

        v1                                                 v2
1488   ham  Tell them no need to investigate about me anyw...
20     ham          Is that seriously how you spell his name?
5004   ham  Guess which pub im in? Im as happy as a pig in...
4600  spam  FreeMsg: Txt: CALL to No: 86888 & claim your r...
28     ham  I'm back &amp; we're packing the car now, I'll...
1845   ham  Hi. || Do u want | to join me with sts later? ...
1490   ham  Cant believe i said so many things to you this...
4799   ham  its cool but tyler had to take off so we're go...
5434   ham  Jesus armand really is trying to tell everybod...
4721   ham  I'm home, my love ... If your still awake ... ...

In [55]:
# Renaming Columns

df.rename(columns={
    "v1":"target",
    "v2":"text"
}, inplace=True)

df.sample(10)

     target                                               text
3659    ham        I will reach ur home in  &lt;#&gt;  minutes
3830    ham  Let's pool our money together and buy a bunch ...
493     ham                 What class of  &lt;#&gt;  reunion?
4934    ham  Hey babe, how's it going ? Did you ever figure...
5202    ham           WOT STUDENT DISCOUNT CAN U GET ON BOOKS?
1463    ham  Ok good then i later come find Ì_... C lucky i...
808     ham       I am taking half day leave bec i am not well
425     ham                          Ok. She'll be ok. I guess
4941    ham  I'm eatin now lor, but goin back to work soon....
4612    ham                      How much you got for cleaning

In [56]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [57]:
df['target'] = encoder.fit_transform(df['target'])

df.sample(10)

      target                                               text
3765       0                            Yes.mum lookin strong:)
3057       1  You are now unsubscribed all services. Get ton...
616        0  He like not v shock leh. Cos telling shuhui is...
1629       0  Sounds like you have many talents! would you l...
4816       0  Me too. Mark is taking forever to pick up my p...
4912       1  Goal! Arsenal 4 (Henry, 7 v Liverpool 2 Henry ...
4566       0  But you were together so you should be thinkin...
5515       0  You are a great role model. You are giving so ...
280        0                             You got called a tool?
2378       0  Hi, Mobile no.  &lt;#&gt;  has added you in th...

In [58]:
# Checking Missing Values

df.isnull().sum()

target    0
text      0
dtype: int64

In [59]:
# Check for Duplicate Values

df.duplicated().sum()

403

In [60]:
# Remove Duplicates

df = df.drop_duplicates(keep='first')
df.duplicated().sum()

0

In [61]:
df.shape

(5169, 2)

#### 2. EDA

#### 3. Text Preprocessing

#### 4. Model Building

#### 5. Evaluation

#### 6. Improvements

#### 7. Website

#### 8. Deployment